@charset "utf-8";



:root {
	font-size: 10px;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	font-weight: 400;
	outline: 0;
	border: none;
}



body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 17px 0;
}



table {
	width: 100%;
	max-width: 700px;
	font-size: 1.6rem;
	margin-top: 17px;
	border-collapse: collapse;
}



tr {
	display: flex;
}



td {
	border: 1px solid #000000;
}
td:nth-child(2) {
	font-size: 1.375em;
	flex: 1 0 20%;
}
td:first-of-type, td:last-of-type {
	flex: 1 0 40%;
	padding: 0 10px;
}
td:nth-child(2), td:nth-child(3) {
	display: flex;
	justify-content: center;
	align-items: center;
}
