@charset "utf-8";


:root {
	font-size: 10px;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	font-weight: 400;
	outline: 0;
	border: none;
}

img {
	width: 100%;
	height: 100%;
}


body {
	font-size: 1.6rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.logo {
	width: 32px;
	height: 32px;
	margin-top: 15px;

	animation: anim 5s linear infinite;
}
@keyframes anim {
	100% {
		transform: rotate(360deg);
	}
}